<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Library Reservation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <% if (user) { %>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/user">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile/<%= user._id %>">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>
                </ul>
                <span class="navbar-text text-white">
                    Welcome, <%= user.firstName %> <%= user.lastName %>!
                </span>
            <% } else { %>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                </ul>
            <% } %>
        </div>
    </div>
</nav>